.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 75%;
  }
  
  .carousel-track {
    padding-top: 30px;
    display: flex;
    transition: transform 1s ease;
  }
  .carousel-track>img{
    background-color: pink;
    padding-left: 20px;
  }

  